
*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	font-size: 18px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    color: #333;
}
#menu{
	height: 50px;
	background-color: #333;
	padding: 20px 30px;
	overflow: hidden;

}
#menu #orbea{
	float: left;
	font-size: 3em;
	font-weight: 900;
	line-height: 0.5em;
}
#menu li{
	float: right;
	font-size: 1.75em;
	padding: 15px;
	text-transform: uppercase;
	font-weight: 400;

}
#menu li a{
	text-decoration: none;
	color: #F5F5F5;
}

#contingut{
	overflow: hidden;

}
#botons{
	height: 70px;
	padding: 0 40px;
	padding-top: 20px;
}

#botons li{
	font-size: 6em;
	line-height: 0.5em;
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
	cursor: pointer;

}
#botons li span{
	display: list-item;
	list-style-type: disc;
	list-style-position: inside;
}
#botons li p{
	font-size: 0.5em;

}
#botons li p:hover{

}
#botons #model{
	float: left;
	font-size: 2.5em;
	padding: 20px 0;
	width: 300px;
	font-weight: 900;
	color: #333;
}


#t1{
	color: #1d1d1f;
}
#t2{
	color: #b4c41c;
}
#t3{
	color: #d8b07d;
}
#t4{
	color: #00b57a;
}
#t5{
	color: #0095b7;
}
#t6{
	color: #c2c6c9;
}
#t7{
	color: #b11a5d;
}
#t8{
	color: #f1526e;
}
#ty1{color: #3c3c3c;}
#ty2{color: #eb0b2f;}
#ty3{color: #008b85;}
#ty4{color: #f9ba00;}

#tya{color: #424244;}
#tyb{color: #46b2bf;}
#tyd{color: #501a1a;}

#tja{color: #1d1d1d;}
#tjb{color: #9c9696;}
#tjd{color: #404f52;}
#tjh{color: #f0c214;}

#contingut #foto{
	width: 70%;
	margin: 0 auto;
}
#contingut #foto img{
	width: 100%;
	height: auto;
}
#tot{
        width: 100%;
        margin: 0;
        padding: 0;
      }

    #imatge{
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .image{
      width: 25%;
      height: 680px;
      float: left;
      background-size: 100%;
      background-position: top;
      text-align: center;
      
    }
    #imatge a{
      text-decoration: none;
      
    }
    #imatge a li{
      
              
    }
    .trans{
      background-color: rgba(255,100,100,0.1);
      margin: 0;
      padding: 0;
      font-size: 5em;
      color: #FFFFFF;
      -webkit-text-stroke: 0px #CCC;
      font-weight: 900;
      height: 440px;
      padding-top: 260px;

    }
    .trans:hover{
      background-color: rgba(255,100,100,0.3);

      -webkit-text-stroke: 0px #000;
    }
    h1{
      font-size: 10em;
      text-align: center;
      line-height: 1em;
      margin: 0;
      padding: 50px 0;
    }
    li{
      list-style-type: none;
    }

    .vector{
      background-image: url('img/JB_VECTOR_20.jpg');
    }
    .katu{
      background-image: url('img/T4_KATU_20.jpg');
    }
    .carpe{
      background-image: url('img/Y4_CARPE_20.jpg');
    }
    .diem{
      background-image: url('img/YD_DIEM_20.jpg');
    }
